<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload File</button>
    </form>

    {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    <div>
        <p>
            <a href="{% url 'kindle:process' %}">
                PROCESS NOTES
            </a>
        </p>
    </div>
    {% endif %}

</div>
</body>
</html>