<!doctype html>
<html lang="en">
<head>
    <!-- -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- links -->
    <link rel="stylesheet" href="{% static 'my_style.css' %}">



    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Highlight Viewer</h1>
        <h3>Now You have acces to all your knowledge ! - Dont forget it !</h3>
    </div>

    <div class="navigation">
        <div class="dropdown">
            <a href="{% url 'knowledge:index' %}">Notes Viewer</a>
        </div>
        <a href="{% url 'knowledge:index' %}"><strong>Notes Viewer</strong></a>
        <a href="{% url 'knowledge:books' %}">Books</a>

        {% if user.is_authenticated %}

        <a href="{% url 'users:logout' %}" id="log" style="margin-right:30px;">Log out</a>
        <a href="#" id="log">Hello, {{ user.username }}.</a>

        {% else %}

        <a href="{% url 'users:register' %}" id="log" style="margin-right:30px;">Register</a>
        <a href="{% url 'users:login' %}" id="log">Log </a>

        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="footer">
        footer
    </div>


</body>
</html>