<!doctype html>
<html lang="en">

<head>
    {% load bootstrap4 %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'kindle_stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'upload_form_stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'book-page.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{% static 'my_scripts.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes Viewer</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>


<body>

<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'knowledge:index' %}">Notes Viewer</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="vl"></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'knowledge:upload' %}">Upload</a>
            </li>
            <li class="vl"></li>
            <li class="nav-item">
                <a class='nav-link' href="{% url 'knowledge:books' %}">books</a>
            </li>
            <li class="vl"></li>
            <li class="nav-item">
                <a class='nav-link' href="{% url 'knowledge:sample-index' %}">test version </a>
            </li>
            <li class="vl"></li>
            <li class="nav-item">
                <strong>
                    <a class='nav-link' href="/static/MyClippings.txt" download>sample kindle file <strong>download</strong> </a>
                </strong>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto"> m
            <li class="nav-item">
                {% if user.is_authenticated %}
                Hello, {{ user.username }}.

                <a href="{% url 'users:logout' %}">Log out</a>

                {% else %}
                <a href="{% url 'users:login' %}">Log in</a>
                |
                <a href="{% url 'users:register' %}">Register</a>

                {% endif %}
            </li>

        </ul>
    </div>
</nav>
{% block content %}
{% endblock content %}


</body>
</html>