<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
<div>
    <h2>
        <p>
            {{ book_name }}
        </p>
    </h2>
    {% for entry in entries %}
    <div>
        <h3> {{ entry.date_added }}</h3>
        <p>{{ entry|linebreaks }}</p>
        <h2>
            {{ entry.id }}
        </h2>
        <p>
            <a href="{% url 'knowledge:create' entry.id %}">Add your thought</a>
            <a href="{% url 'knowledge:notes' entry.id %}">See your Thoughts</a>


        </p>
        <p>

        </p>
    </div>
    {% endfor %}
</div>
</body>
</html>