{% extends "knowledge/base_ver2.html" %}



{% block content %}

    {% for book in books %}
    <ol>
        <li>
            <a href="{% url 'knowledge:book' book.id %}" id="book-link">
                <div class="book">

                <div style="margin-right: 40px;">
                    {{ book }}
                </div>

                <div class="book-delete">
                delete

                </div>
            </a>

        </li>
        <hr>
    </ol>


    {% empty %}
        <h3>
            No books have been added !
        </h3>
    {% endfor %}




{% endblock content %}



