{% extends "knowledge/base.html" %}


{% block content %}
<div class="book-container" style="background-color: lightblue;">
    <h2>
        <p>
            {{ book_name }}
        </p>
    </h2>
    {% for entry in entries %}
    <div style="padding: 5 5 5 5; border-radius: 20px; background-color:white;">
        <h3 style="margin-left: 40px;"> {{ entry.date_added }}</h3>
        <div class="note">
            <hr>
            <p>{{ entry|linebreaks }}</p>
            <hr>
        </div>

        <div id="additional">
            <p>
            <a href="{% url 'knowledge:create' entry.id %}">Add your thought</a>
            </br>
            <a href="{% url 'knowledge:notes' entry.id %}">See your Thoughts</a>
        </p>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock content %}



