{% extends "knowledge/base.html" %}

{% block content %}


<div class="main">


    <div class="sidenav">
        {% if user.is_authenticated %}
        <strong>
            Books:
            <br>
            <br>
        </strong>

        {% for book in books %}
        <div id="book-link-index">
            <a href="{% url 'knowledge:book' book.id %}"  id="book-link-index-a">- {{ book }}</a>
        </div>
        <br>
        <hr style="background-color:white;">

        {% empty %}

        {% endfor %}

        {% else %}
        <strong style="font-size: 30px;">
            log in and add a file to see your book list here !
        </strong>
        {% endif %}

    </div>

    <div class="info">
        Welcome to <span id="Kindle"><strong>Highlight Viewer</strong></span> !
        <br>
        <span id="info1">This app gives you easy acces to all your knowledge, you won't forget !</span>
    </div>

    <div class="content">

        {% if user.is_authenticated %}

        <div id="inside-content">
            <div id="note1">
                <img src="static/kindle.jpg" alt="kindle app art">
            </div>

            <div id="note2">
                {{ highlights }}
            </div>

            <div id="note3">
                note3
            </div>

            <div id="note4">
                note4
            </div>

            <div id="note5">
                note5
            </div>

            <div id="note6">
                note6
            </div>

            <div id="footer">
                footer
            </div>
        </div>
    </div>

    {% else %}
    <img src="" alt="screens of logged in version" id="photos">

    <script>
        let image = document.getElementById('photos');
        let images = ['static/screens/screen1.jpg','static/screens/screen2.jpg','static/screens/screen3.jpg','static/screens/screen4.jpg']
        setInterval(function(){
            let random = Math.floor(Math.random() * 4);
            image.src = images[random];
        }, 2000);
    </script>
    {%  endif %}

</div>



{% endblock content %}
